* {
  margin: 0px;
}
.App {
  background-image: url("./images/bkg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

#gallow{
  border: 15px white solid;
  margin: 5px;
}

.bigText{
  font-size: xx-large;
}

button{
  background-color: #ffc107;
  box-shadow: #ff9800;
}

