body {
  margin: 0px;
  font-family:'Coming Soon';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/bkg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

#gallow{
  border: 15px white solid;
  margin: 5px;
}

.bigText{
  margin: 0px;
  font-size: x-large;
}

/* perhaps not good practice having this style due to accesibility issues. 
Making an exception for this exercise*/
button:focus {outline:0;}

button{
  border: none;
  border-radius: 10px;
  margin: 1em;
  color: white;
}

.letter-btn-default{
  width: 2.5em;
  height: 2.5em;
  background-color: #ffc107;
  box-shadow: 0px 5px #ff9800;
}

.letter-btn-inactive{
  width: 2.5em;
  height: 2.5em;
  background-color: #bdbdbd;
  box-shadow: 0px 5px #000000;
}

#btn-container{
  width: 50%;
  margin: 0 auto;
}

#reset-btn{
  padding: 10px;
  background-color: #e41414;
  box-shadow: 0px 5px #c53916;
  
}

